<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
	<script src="hsl.js"></script>
	<script src="https://unpkg.com/htmx.org"></script>
</head>

<body>
	<h1>Home Sweet Loan</h1>
</body>

<!-- See file hsl.js for how data is injected into the page. -->
<form id="loan-input" hx-post="/calculate" hx-target="#results">
	<input type="text" name="principal" placeholder="Principal Amount" required>
	<input type="text" name="interest_rate" placeholder="Annual Interest Rate" required>
	<input type="number" name="loan_term_years" placeholder="Loan Term (Years)" required>
	<button type="submit">Calculate</button>
</form>

<label for="loanHistory">Loan History:</label>
<select id="loanHistoryDropdown" hx-get="/fetchHistory" hx-trigger="load">
	<option value="">-- Fetching Loans --</option>
</select>

<div id="results"></div>